<br>
<h4>Place - {{place.name}}</h4>

<img src="{{image}}" height="200" width="200" alt="">

<br>
radius: {{place.radius}}  <br>
info: {{place.info}}  <br>
position: {{place.position.length}}  <br>
media: {{place.media.length}}  <br>
