<img src="{{image}}" height="50" width="50" alt="">

<hr>
    name: {{path.name}}  <br>
    length: {{path.length}}km  <br>
    time: {{path.time}}h  <br>
    info: {{path.info}}  <br>
<hr>

<h2>map</h2>
{{#leaflet-map bounds=path.polyline as |layers|}}
  {{layers.tile url="http://{s}.basemaps.cartocdn.com/light_all/{z}/{x}/{y}.png"}}

  {{#each path.places as |place|}}
    {{#layers.marker location=place.position}}
      {{#popup-layer}}
        <h4>{{place.name}}</h4>
        <div {{action "goToPlace" place.id}}>more info...</div>
      {{/popup-layer}}
    {{/layers.marker}}
  {{/each}}

  {{#layers.polyline locations=path.polyline weight=5 color=color}}
      {{#popup-layer}}
        <h4>{{path.name}}</h4>
        <div {{action "goToPath"}}>more info...</div>
      {{/popup-layer}}
  {{/layers.polyline}}
{{/leaflet-map}}
