{{#hh-paper-card dataCardId=path.id as |card|}}
  {{#card.header as |header|}}
    {{#header.text as |text|}}
      {{#text.title class="primary-color"}}{{path.name}}{{/text.title}}
      {{#text.subhead}}{{path.info}}{{/text.subhead}}
    {{/header.text}}
  {{/card.header}}

  <div data-path-image="{{path.id}}"
      class="md-card-image md-card-bg-image"
      style="{{safestring-bgimage path.image}}"></div>

  {{#card.content}}
    <div class="layout-row layout-align-center-center">
      <dl class="dl-horizontal">
        <dt>Length</dt>
        <dd>{{path.length}}km</dd>

        <dt>Time</dt>
        <dd>{{path.time}}h</dd>
      </dl>
    </div>

  {{!-- @todo show all places as a card for mobile
  <h4>All places</h4>
  {{#each model.places as |place|}}
    {{place-list-item path=model place=place}}
  {{/each}}--}}

  {{/card.content}}
{{/hh-paper-card}}

{{outlet}}
